:root {
    @font-face {
        font-family: Kanit;
        src: url("https://fonts.google.com/share?selection.family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900");
    }

    --text: hsl(0, 0%, 80%);
    --background: hsl(240, 40%, 10%);
    --card: hsl(240, 40%, 15%);
    --button: hsl(240, 40%, 30%);
    --button-hover: hsl(240, 40%, 35%);
    --text-dimmed: hsl(240, 20%, 40%);
    --highlight: hsl(60, 100%, 70%);

    --hljs-keyword: #009900;
    --hljs-function: #00cc00;
    --hljs-string: #ffff66;
    --hljs-literal: #e3b585;

    font-family: Kanit, sans-serif, serif;
    font-size: 1.5rem;
    background: var(--background);
    color: var(--text);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    margin: 0;
    height: 100dvh;

    header {
        width: 75vw;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 0.5rem;
    }

    main {
        width: 75vw;
        max-width: 75vw;
    }
}

button, .btn {
    all: unset;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-weight: bold;
    color: var(--text);
    background-color: var(--button);
    white-space: nowrap;
}

button:hover, .btn:hover {
    background-color: var(--button-hover);
    cursor: pointer;
}

button:active, .btn:active {
    scale: 0.95;
}

h1 {
    white-space: wrap;
}

h2 {
    font-size: larger;
    margin: 0;
}

th, td {
    align-items: center;
    justify-content: start;
    text-align: left;
}

select > option {
    background-color: var(--card);
    border-color: var(--text-dimmed);
    padding: 2.25rem;
}

select {
    all: unset; 
    font-size: 0.75rem; 
    padding: 0rem;
    color: var(--text) !important;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

.highlight {
    color: var(--highlight);
    text-shadow: 0 0 5px var(--highlight);
}

.card {
    border-radius: 1rem;
    padding: 1rem;
    background: var(--card);
}

.card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 2rem;
    border-bottom: 2px solid var(--text-dimmed);
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.row-to-col {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.w-70-to-100 {
    width: 70%;
}

.w-30-to-100 {
    width: 30%;
}

@media (orientation: portrait) {
    .row-to-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;
    }

    .w-70-to-100, .w-30-to-100 {
        width: 100%;
    }
}

.star {
    margin-top: 1.25rem;
    color: var(--highlight);
    text-shadow: 0 0 5px var(--highlight);
    font-size: 3rem;
}

.icon-button {
    all: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: none !important;
    padding: 0.25rem;
    color: var(--text);
    white-space: nowrap;
    cursor: pointer;
    font-weight: bold;
}

.icon-button:hover {
    color: var(--highlight);
    text-shadow: 0 0 5px var(--highlight);
}

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0;
    min-height: 25vw;
    max-height: 25vh;

    color: var(--text);
}

.hljs-comment,
.hljs-punctuation {
    color: var(--text);
}

.hljs-attr,
.hljs-attribute,
.hljs-meta,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
    color: inherit;
}

.hljs-variable,
.hljs-literal,
.hljs-number,
.hljs-doctag {
    color: var(--hljs-literal);
}

.hljs-params {
    color: var(--text);
}

.hljs-function {
    color: var(--hljs-function);
}

.hljs-class,
.hljs-tag,
.hljs-title,
.hljs-built_in {
    color: var(--hljs-function);
}

.hljs-keyword,
.hljs-type,
.hljs-builtin-name,
.hljs-meta-keyword,
.hljs-template-tag,
.hljs-template-variable {
    color: var(--hljs-keyword);
}

.hljs-string,
.hljs-undefined {
    color: var(--hljs-string);
}

.hljs-regexp {
    color: var(--hljs-string);
}

.hljs-symbol {
    color: #79c0ff;
}

.hljs-bullet {
    color: #ffa657;
}

.hljs-section {
    color: #79c0ff;
    font-weight: bold;
}

.hljs-quote,
.hljs-name,
.hljs-selector-tag,
.hljs-selector-pseudo {
    color: #7ee787;
}

.hljs-emphasis {
    color: #ffa657;
    font-style: italic;
}

.hljs-strong {
    color: #ffa657;
    font-weight: bold;
}

.hljs-deletion {
    color: #ffa198;
    background-color: #490202;
}

.hljs-addition {
    color: #7ee787;
    background-color: #04260f;
}

.hljs-link {
    color: #a5d6ff;
    font-style: underline;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--button);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--background);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color:  var(--button-hover);
}

::-webkit-scrollbar-corner {
    background-color: transparent ; 
}